*{
    margin: 0;
    padding: 0;
}
div.viewport{
    background-color: #1f1f1f;
    height: 100vh;
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    box-sizing: border-box;
    gap: 40px;
    align-items: stretch;
}
div{
    display: flex;
}

div.playerCont *{
    color: white;
}

div.playerCont{
    flex: 1 1;
    background-color: #368bdf;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 400;
    transition: background-color ease-in 0.1s,font-size ease-in 0.1s,font-weight, ease-in 0.1s;
}
div.playerCont.onTurn{
    background-color: #2b6cae;
    font-size: 2.5rem;
    font-weight: 700;
    transition: background-color ease-in 0.1s,font-size ease-in 0.1s,font-weight, ease-in 0.1s;
}

div.board{
    flex: 3;
    flex-direction: column;
    background-color: #368bdf;
    border-radius: 50px;
    align-items: stretch;
    padding :50px;
    padding-top: 0;
}

div.content{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 30px;
    flex: 1;
    font-size: 1.5rem;
}
div.guess{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: rgb(171, 114, 62);
}
div.guess>label{
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
}

div.guess>label:nth-child(1){
    font-size: 1.9rem;
}
div.guess>label:nth-child(2)>img{
    height: 35px;
}
div.guess>label:nth-child(3)>img{
    height: 50px;
}

div.guessesCont{
    flex: 1;
    background-color: rgb(204, 136, 74);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 15px;
    gap:15px
}
div.guessesCont label{
    color: white;
}
label.title{
    font-size: 1.7rem;
    text-align: center;
}

div.guesses{
    flex: 1 1 0;
    background-color:  rgb(231, 171, 102);
    height: max-content;
    display: flex;
    flex-direction: column;
}

label.clock{
    font-size: 4rem;
    margin: 30px;
    text-align: center;
    color: white;
}

form.guessForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}
form.guessForm button{
    border-radius: 15px;
    border: none;
    padding: 15px;
}
form.guessForm input{
    border: none;
    border-radius: 15px;
    padding-left: 8px;
    background-color: rgb(231, 171, 102);
    user-select: none;
    color: white;
}
form.guessForm input::placeholder{
    
    color: white;
}

form.guessForm>label{
    font-size: 1.8rem;
}

div.submitionCont{
    flex: 1;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}

form *{
    font-size: 1.3rem;
}
form.submitForm{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 60px;
    background-color: #5ea0e2;
    border-radius: 30px;
}
form.submitForm *{
    font-size: 2rem;
}
form.submitForm label{
    color: white;
}
form.submitForm button{
    background-color: #05af4f;
    border-radius: 10px;
    color: white;
    border: none;
    transition: border-radius 0.2s,background-color 0.2s;

}
form.submitForm button:hover{
    background-color: #0e9649;
    border-radius: 30px;
    cursor: pointer;
    transition: border-radius 0.2s,background-color 0.2s;
}

form.submitForm input{
    border: none;
    border-radius: 10px;
}

