*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth !important;
}
body{
    width: 100vw;
    overflow: hidden;
    scroll-behavior: smooth;
}

#viewport{
    height: calc(100vh - 80px);
    overflow: auto;
    width: 100%;
    position: relative;
}

div.header{
    position: sticky;
    top: 0;
    height: 80px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 100;
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 1.3rem;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    box-sizing: border-box;
}
div.header>div>*{
    margin-left: 30px;
}
.header h1{
    color: var(--darker-accent)
}

div.segment{
    height: calc(100vh - 80px);
    width: 100%; 
    border-bottom: 1px solid black;  
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px; 
    background-color: rgb(31, 31, 31);
    color: white;
    /* background: linear-gradient(to top, #ddd, #fff, #ddd); */
}


.segmentTitle{
    font-size: 6rem;
    font-weight: 700;
    font-family: 'Playpen Sans', cursive;
    /* color: var(--main-accent); */
    color: white;
}

.logoutIcon{
    height: auto;
    width: 30px;
    color: var(--darker-accent);
}
.logoutIcon{
    color: var(--darkest-accent);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-accent);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color:transparent;
}

div.segment{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding-right: 170px;
    box-sizing: border-box;
}
div.segment.bulls-and-cows{
    background-image: url("./bulls-and-cows.jpg");
}
div.segment.landing-page{
    background-image: url("./LandingPage.jpg");
}

div.lobbyCont{
    height: 40vh;
    width: 15vw;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    box-sizing: border-box;
    box-shadow: 0 0 25px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 25px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 25px 5px rgba(0,0,0,0.5);
    
}
div.lobbyCont>form{
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}
div.lobbyCont>form>*{
    font-size: 1.5rem;
}

div.lobbyCont>form>button{
    border: none;
    background-color: #e3c5b3;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
}
div.lobbyCont>form>input{
    padding: 15px;
    box-sizing: border-box;
    border: none;
    background-color: rgb(160, 201, 255);
    border-radius: 10px;
} 
