*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    background-color: #1F1F1F;
}

div.leftPanel{
    width: 80vw;
    height: 100vh;
    /* background-color: rgb(47, 47, 47); */
    display: flex;
    flex-direction: column;
}
div.rigthPanel{
    width: 20vw;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--main-accent);
}

div.leftPanel>div.buttonsCont{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    color: white;
    position:relative;
    padding-bottom: 20px;
}
button.startGameBtn{
    background-color: rgb(108, 223, 106);
    color: white;
    padding: 25px;
    font-size: 1.9rem;
    border-radius: 50px;
    font-weight: 600;
    transition: background-color 0.2s ease-in;
}
button.startGameBtn:hover{
    background-color: rgb(87, 174, 86);
    transition: background-color 0.1s ease-in;
}
button.leaveLobbyBtn{
    background-color: rgb(215, 89, 89);
    padding: 10px;
    font-size: 1rem;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 20px;
    transition: background-color 0.1s ease-in;

}
button.leaveLobbyBtn:hover{
    background-color: rgb(163, 68, 68);
    transition: background-color 0.1s ease-in;
}

div.leftPanel>div>button:first-child{
    margin: 15px;
    justify-self: start;
}

div.leftPanel>div>button:first-child{
    justify-self: center;
}

div.playersCont{
    flex: 1;
    background-color: #1F1F1F;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


div.playerCont{
    width: 20%;
    height: 80%;
    flex-direction: column;
    background-color: #368bdf;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
}


div.infoCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
}
div.infoCont *{
    color: white;
}

div.chatCont{
    padding: 20px;
    /* background-color: rgb(194, 128, 222); */
    flex: 1;
    display: flex;
    flex-direction: column;
    height: max-content;
}

div.messagesCont{
    background-color: #368bdf;
    border-radius: 40px;
    overflow: auto;
    padding: 10px;
    height: 80%;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: start;
}

div.messageForm{
    padding: 10px;
    display: flex;
    gap: 10px;
    height: 5%;

}

div.messageForm>input{
    flex: 1 1;
    min-width: 10px;
    font-size: 1.1rem;
    border-radius: 5px;
    border: none;
}
div.messageCont.self{
    align-self: end;
}
div.messageCont.self{
    align-items: end;
}
div.messageCont{
    display: flex;
    flex-direction: column;
    width: min-content;
    margin-top: 10px;
}

label.sender{
    font-size: 10px;
    margin-left: 5px;

}

label.message{
    font-size: 15px;
    border-radius: 10px;
    background-color: rgb(79, 82, 255);
    color: white;
    width: min-content;
    padding: 10px;
}

button{
    border: none;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}
button:hover{
    cursor: pointer;
}

