*{
    margin: 0;
    padding: 0;
}
div.viewport{
    height: 100vh;
    width: 100vw;
    background-color: #1f1f1f;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    box-sizing: border-box;
    gap: 40px;
    align-items: stretch;
}
div{
    display: flex;
}

div.playersCont{
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    font-size: 1.6rem;
    gap: 30px;
    font-weight: 400;
    transition: background-color ease-in 0.1s,font-size ease-in 0.1s,font-weight, ease-in 0.1s;
}
div.player{
    background-color: #368bdf;
    flex: 1 1;
    flex-direction: column;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}
div.player label{
    color: white;
}

div.board{
    position: relative;
    flex: 3;
    flex-direction: column;
    background-color: #368bdf;
    align-items: stretch;
    padding :50px;
    border-radius: 50px;
}

div.sudokuCont{
    flex: 1;
    justify-content: space-around;
}

div.numbers{
    gap: 10px;
}

div.number.selected{
    background-color: rgb(22, 168, 71);
}

div.numbersCol{
    flex-direction: column;
    height: 100%;
    gap: 10px;
}
div.number{
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 20px;
    background-color: #195989;
    color: white;
}

table{
    border-spacing: 0;
    display: flex;
    align-items: stretch;
}

table.sudoku{
    background-color: #195989;
    height: 100%;
    aspect-ratio: 1/1;
    /* row-gap: 0; */
}
table tr{
    column-gap: 0;
    flex: 1 1 0;
    display: flex;
}
td{
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}
td.square{
    background-color: #195989;
    border: 2px solid rgb(160, 191, 232);
}
table table{
    width: 100%;
    height: 100%;
    table-layout: auto;
}
tbody{
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

td.cell{
    border: 1px solid rgb(44, 44, 44);
    width: 33.3333%;
}

td.cell.given{
    font-weight: 900;
}
td.cell.not-given:hover{
    cursor: pointer;
    background-color: #64647a;
    color: black;
}
td.cell.highlight{
    background-color: #16A847;
}
td.cell.invalid{
    background-color: rgb(176, 66, 66);
    color: white;
}

label.clock{
    font-size: 4rem;
    margin: 30px;
}
label.difficulty{
    font-size: 3rem;
}
div.Info{
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-weight: 600;
    color: white;

}

div.votingCont{
    display: flex;
    /* display: none; */
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50px;
    background-color: #368bdf;
}

div.votingCont>label{
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    color: white;
}

div.votingCont *{
    padding: 30px;
}
div.votingCont button{
    font-size: 2.2rem;
    width: 20vw;
    border: none;
    border-radius: 40px;
    transition: background-color 0.1s ease-in;
    transition: font-size 0.1s ease-in;
}
div.votingCont button:hover{
    background-color: #bfc5da;
    font-size: 2.6rem;
    cursor: pointer;
    transition: background-color 0.1s ease-in;
    transition: font-size 0.1s ease-in;
}