*{
    margin: 0;
    padding: 0;
}
div.viewport{
    height: 100vh;
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    box-sizing: border-box;
    gap: 40px;
    align-items: stretch;
}
div{
    display: flex;
}

div.playersCont{
    flex: 1 1;
    background-color: rgb(233, 214, 185);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    font-size: 2rem;
    gap: 30px;
    font-weight: 400;
    transition: background-color ease-in 0.1s,font-size ease-in 0.1s,font-weight, ease-in 0.1s;
}
div.player{
    background-color: rgb(214, 197, 171);
    flex: 1 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.board{
    position: relative;
    flex: 3;
    flex-direction: column;
    background-color: rgb(164, 200, 200);
    align-items: stretch;
    padding :50px;
    padding-top: 0;
}

div.sudokuCont{
    flex: 1;
    justify-content: space-around;
}

div.numbers{
    gap: 10px;
}

div.number.selected{
    background-color: yellow;
}

div.numbersCol{
    flex-direction: column;
    height: 100%;
    gap: 10px;
    border: 1px solid #444;
}
div.number{
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-size: 1.8rem;
    background-color: blueviolet;
}

table{
    border-spacing: 0;
    display: flex;
    align-items: stretch;
}

table.sudoku{
    background-color: aqua;
    height: 100%;
    aspect-ratio: 1/1;
    /* row-gap: 0; */
}
table tr{
    column-gap: 0;
    flex: 1 1 0;
    display: flex;
}
td{
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}
td.square{
    background-color: rgb(28, 200, 200);
    border: 2px solid black;
}
table table{
    width: 100%;
    height: 100%;
    table-layout: auto;
}
tbody{
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

td.cell{
    border: 1px solid rgb(63, 63, 63);
    width: 33.3333%;
}

td.cell.given{
    font-weight: 900;
}
td.cell.not-given:hover{
    cursor: pointer;
    background-color: #EEE;
    color: black;
}
td.cell.highlight{
    background-color: rgb(0, 30, 255);
}
td.cell.invalid{
    background-color: rgb(228, 86, 86);
    color: white;
}

label.clock{
    font-size: 4rem;
    margin: 30px;
}
label.difficulty{
    font-size: 3rem;
}
div.Info{
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

div.votingCont{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: aquamarine;
}

div.votingCont>label{
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
}

div.votingCont *{
    padding: 30px;
}
div.votingCont button{
    font-size: 2.2rem;
    width: 20vw;
}